body{
  background-color: #80a190;
  margin: 1em 3em;
  max-width: 1080px;
  padding: 10px 30px;
/*  font-family: "Apparat", "Book Antiqua", Sweden, sans-serif;*/
  font-family: apparat, sans-serif;
  font-style: normal;
}

header h1 a {
  color: #000;
  text-decoration: none;
  font-variant: small-caps;
  font-size: xx-large;
}

header h1 a:visited {
  color: #000;
}

h3, figcaption {
  font-size: x-large;
  font-variant: small-caps;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: #777;
}

img {
  margin-bottom: 15px;
}

object { 
  margin-bottom: 15px;
}

.grid-item {
  float: left;
  width: 50%;
}

.column {
  float: left;
  width: 33.33%;
}

.left {
  width: 50%;
}

.right {
  width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.flex-item {
  margin-right: 20px;
}

.flex-item > img {
  width: 350px;
}

footer {
  clear: both;
  padding-top: 25px;
}